Repository Maverick099/Flutter-Tests-Inside-Docker-, changes with the labels that .github/labeler.yml gives for each.
All labels: Docker Scripts 🛠, scripts 📄, DockerFile 🐋, Circle CI

.github/labeler.yml:

Docker Scripts 🛠:
  - docker_scripts/*
 
scripts 📄:
  - scripts/*
 
DockerFile 🐋:
  - Dockerfile

Circle CI:
  - .circleci/*
  - .circleci/**/*

Create stale.yml
  .github/workflows/stale.yml
Labels: none

Update pylint.yml
  .github/workflows/pylint.yml
Labels: none

Update pylint.yml
  .github/workflows/pylint.yml
Labels: none

Update pylint.yml
  .github/workflows/pylint.yml
Labels: none

changed error causing run
  .github/workflows/pylint.yml
Labels: none

Update pylint.yml
  .github/workflows/pylint.yml
Labels: none

pylint check
  main.py
Labels: none

Added command lines arguments input to file
  main.py
Labels: none

Update pylint.yml
  .github/workflows/pylint.yml
Labels: none

Update main.py
  main.py
Labels: none

lint update
  main.py
Labels: none

lint update
  main.py
Labels: none

Update pylint.yml
  .github/workflows/pylint.yml
Labels: none

lint update
  scripts/runTests.py
Labels: scripts 📄

running pylint on only the folder files
  .github/workflows/pylint.yml
Labels: none

lint check
  scripts/runTests.py
Labels: scripts 📄

chanded command to find all .py files
  .github/workflows/pylint.yml
Labels: none

lint check
  scripts/runTests.py
Labels: scripts 📄

line length increased to 125
  .github/workflows/pylint.yml
Labels: none

added argparse
  scripts/startEmulator.py
Labels: scripts 📄

Update LICENSE
  LICENSE
Labels: none

added createEmulator.py
  Dockerfile
  scripts/clean_up.py
  scripts/createEmulator.py
  tests/test.py
Labels: scripts 📄, DockerFile 🐋

uopdated path variables
  Dockerfile
Labels: DockerFile 🐋

updates
  .devcontainer/devcontainer.json
  .gitignore
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/pythonProject.iml
  .idea/vcs.xml
  .vscode/settings.json
  Dockerfile
  LICENSE
  README.md
  main.py
  scripts/createEmulator.py
  scripts/runTests.py
  scripts/startEmulator.py
  tests/test.py
Labels: scripts 📄, DockerFile 🐋

Update README.md
  README.md
Labels: none
